@use 'sass:math';
@use '../base';

.cards {
  margin: 7rem auto 5rem;
  padding: 0 2rem;
  max-width: 35.8125rem;

  @media screen and (min-width: 38.75rem) {
    padding: 0;
  }

  @media screen and (min-width: 67.5rem) {
    display: flex;
    max-width: 69.375rem;
    gap: 4rem;
  }
}

.card {
  text-align: center;
  margin-bottom: 4rem;

  @media screen and (min-width: 38.75rem) {
    display: flex;
    gap: 4rem;
  }

  @media screen and (min-width: 67.5rem) {
    flex-direction: column;
  }
}

.card__splitter {
  @media screen and (min-width: 38.75rem) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 81%;
  }
}

.card__wrapper {
  @media screen and (min-width: 38.75rem) {
    flex: 1 1 19%;

    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 1rem;
      height: 100%;
      background-color: #e5ecf4;
      left: 39%;
      z-index: -1;
      top: -80%;
    }
  }

  @media screen and (min-width: 67.5rem) {
    &::before {
      width: 100%;
      height: 1rem;
      left: -94%;
      top: 33%;
    }
  }
}

.card__img {
  display: block;
  margin: auto;
  border-radius: 50%;

  @media screen and (min-width: 38.75rem) {
    width: 100%;
    max-width: 6rem;
  }

  @media screen and (min-width: 67.5rem) {  
    margin: auto;
  }
}
.small__card {
  width: 19%;
  @media screen and (min-width: 38.75rem) {
    width: 100%;
    max-width: 6rem;
  }

  @media screen and (min-width: 67.5rem) {
    margin-left: 0;
  }
}

.card__title {
  color: base.$mid-mid-grey;
  font-size: base.calculateRem(20);
  margin-top: 1rem;
  font-family: base.$secondary-font;

  @media screen and (min-width: 38.75rem) {
    font-size: base.calculateRem(24);
  }
}

.card__content {
  font-size: base.calculateRem(15);
  color: base.$mid-lt-grey;
  margin-top: 2rem;
  @media screen and (min-width: 38.75rem) {
    text-align: left;
  }
}

.primary__title {
  text-align: center;
  font-size: base.calculateRem(32);
  font-family: base.$secondary-font;
  color: base.$mid-mid-grey;
  font-weight: 700;
  letter-spacing: -1.43px;

  @media screen and (min-width: 38.75rem) {
    font-size: base.calculateRem(48);
  }
}

.large__card__wrapper {
  margin-bottom: 5rem;
  margin-top: -2.5rem;
  position: relative;
  &::before {
    position: absolute;
    content: "01";
    width: 6rem;
    height: 6rem;
    background-color: base.$yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    bottom: -3rem;
    left: 50%;
    margin-left: -3rem;
    z-index: 1;
  } 

  @media screen and (min-width: 38.75rem) {
    &::before {
      top: 80%;
      z-index: 1;
    }
  }
}

/***************************************************
                OVERIDING ABOUT PAGE
                        START
****************************************************/
.large__card {
  @media screen and (min-width: 38.75rem) {
    max-width: 15rem;
  }
}

.card__about {

  /* 
  heavy nesting, could not find a way to reach the 
  span before element without nesting
  the component is used in 3 pages
  */

  &:nth-child(2) {
    .large__card__wrapper {
      &::before {
        content: "02";
      }
    }
  }

  &:last-child {
    .large__card__wrapper {
      &::before {
        content: "03";
      }
    }
  }

  @media screen and (min-width: 38.75rem) {
    display: block;

    .card__splitter {
      justify-content: center;
      align-items: center;
      max-width: 28.5625rem;
      margin: auto;
    }

    .card__content {
      text-align: center;
    }

    .card__title {
      margin-top: 2rem;
    }
  }
}
/*******************************************************
                  OVERIDING ABOUT PAGE
                            END
********************************************************/
