@use '../base';
.nav {
    display: flex;
    padding: 1.25rem;
    justify-content: flex-start;
    align-items: flex-end;
   
    @media screen and (min-width: 38.75rem) {
        padding: 1.55rem 2.4375rem;
    }
    @media screen and (min-width: 67.5rem) {
        padding: 1.55rem 10.3125rem;
        max-width: 1440px;
        margin: auto;
    }
}

.menu__control {
    position: relative;
    z-index: 10;
    @media screen and (min-width: 38.75rem) {
        display: none;
    }
}

.logo__wrapper {
    margin: auto;
    @media screen and (min-width: 38.75rem) {
        flex: 1 1 20%;
    }
    @media screen and (min-width: 67.5rem) {
        flex: 1 1 10%;
    }
}


/******  MODAL CONTAINER ***** */

.modal__container {
    position: absolute;
    top: 4rem;
    left: 0rem;
    width: 68%;
    background-color: base.$mid-grey;
    height: 49vh;
    z-index: 1;
    padding-top: 4rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: space-between;
    @media screen and (min-width: 38.75rem) {
        background-color: inherit;
        position: relative;
        padding-top: 0;
        top: 0;
        height: auto;
        width: max-content;
        flex: 1 1 70%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


/***  END MODAL CONTAINER ******/

.hide__modal {
    display: none;
    @media screen and (min-width: 38.75rem) {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
    }
}

.show__menu,
.close__menu {
    border: none;
    background: none;
    &:hover,
    &:focus {
        cursor: pointer;
        outline: dashed currentColor;
        outline-offset: 0.25em;
    }
}

.hide__btn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.nav__item--btn {
    color: white;
    outline: none;
    text-decoration: none;
    font-family: base.$secondary-font;
    font-size: base.calculateRem(15);
    font-weight: 700;
    &:hover,
    &:focus {
        cursor: pointer;
        outline: dashed currentColor;
        outline-offset: 0.25em;
        color: base.$yellow;
    }
    @media screen and (min-width: 38.75rem) {
        color: base.$mid-lt-grey;
    }
}

.footer__socials--btn {
    &:hover,
    &:focus {
        cursor: pointer;
        outline: dashed #fcb72b;
        outline-offset: 0.25em;
    }
}

.wrapper__scoot {
    margin: 0 auto;
    @media screen and (min-width: 38.75rem) {
        flex: 1 1 45%;
        text-align: right;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 67.5rem) {
        justify-content: flex-end;
    }
}

.navigation__items {
    @media screen and (min-width: 38.75rem) {
        display: flex;
        flex: 1 1 50%;
        justify-content: space-between;
    }
    @media screen and (min-width: 67.5rem) {
        flex: 1 1 20%;
    }
}

.nav__item {
    margin-bottom: 1rem;
    @media screen and (min-width: 38.75rem) {
        margin-bottom: 0;
    }
}

.logo--btn {
    outline: none;
    &:focus-visible {
        background-color: base.$peach;
    }
    &:hover,
    &:focus {
        cursor: pointer;
        outline: dashed base.$yellow;
        outline-offset: 0.25em;
    }
}

.wrapper__scoot--btn {
    background-color: base.$yellow;
    border: 0.25rem solid transparent;
    font-size: base.calculateRem(15);
    color: base.$white;
    padding: 0.9rem 3rem;
    margin-top: 1rem;
    text-decoration: none;
    &:hover,
    &:focus {
        cursor: pointer;
        outline: dashed base.$yellow;
        outline-offset: 0.25em;
        border: 0.25rem solid base.$yellow;
        color: base.$yellow;
        background-color: base.$white;
    }
    @media screen and (min-width: 38.75rem) {
        margin-top: 0;
    }
}

.cards__secondary--btn {
    margin: 3rem auto 0;
    display: block;
    &:hover,
    &:focus {
        cursor: pointer;
        outline: dashed base.$yellow;
        outline-offset: 0.25em;
    }
    @media screen and (min-width: 67.5rem) {
        margin-left: 0;
        // margin-top: 1rem;
    }
}

.scoot__hero__wrapper {
    @media screen and (min-width: 67.5rem) {
        text-align: left;
        justify-content: flex-start;
    }
}

.hero--btn {
    @media screen and (min-width: 67.5rem) {
        text-align: left;
    }
}